<div class="container-fluid">
    <div class="row">     
        <h1 class="page-header">Biblioteca Virtual</h1>        
        <div class="row">                        
              <div class="col-sm-offset-2 col-sm-8">
                    <div class="input-group input-group-lg">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search fa-fw"></i>
                        </button>
                      </span>
                    </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->                        
        </div><!-- /.row -->
        <div class="row">
            <div class="col-sm-12">
                <h2 class="sub-header">Tipos de Media</h2>                
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-warning"><img src="/img/icons/json.png" width="24px"> JSON</button>
                  <button type="button" class="btn btn-warning"><img src="/img/icons/json.png" width="24px"> JSON (ignoreColumn)</button>
                  <button type="button" class="btn btn-warning"><img src="/img/icons/json.png" width="24px"> JSON (with Escape)</button>
                  <button type="button" class="btn btn-warning"><img src="/img/icons/xml.png" width="24px"> XML</button>
                  <button type="button" class="btn btn-warning"><img src="/img/icons/sql.png" width="24px"> SQL</button>
                  <button type="button" class="btn btn-warning"><img src="/img/icons/csv.png" width="24px"> CSV</button>
                  <button type="button" class="btn btn-warning"><img src="/img/icons/txt.png" width="24px"> TXT</button>
                  <button type="button" class="btn btn-warning"><img src="/img/icons/xls.png" width="24px"> XLS</button>
                  <button type="button" class="btn btn-warning"><img src="/img/icons/word.png" width="24px"> Word</button>
                  <button type="button" class="btn btn-warning"><img src="/img/icons/ppt.png" width="24px"> PowerPoint</button>
                  <button type="button" class="btn btn-warning"><img src="/img/icons/png.png" width="24px"> PNG</button>
                  <button type="button" class="btn btn-warning"><img src="/img/icons/pdf.png" width="24px"> PDF</button>
                </div>                           
            </div>
        </div>
        <div class="row">
            <div class="dashboard col-xs-12 col-sm-4 col-md-3 col-lg-2">
                  <div ng-repeat="contrato in listViewContratos | filter: filter | orderBy: sortBy" >
                      <button class="square imgdash"  data-toggle="modal" data-target="#contratoModal" data-ng-click="setMaster(item)">
                          <div class="contentdash">                                     
                                <span class="badge alert-info squaretitle">Situa&ccedil;&atilde;o:</span>                                                                                    
                                <i class="fa fa-home icon"></i>                                          
                                <p>Teste</p>
                          </div>
                      </button>
                  </div>
            </div>
        </div>	  
        <h2 class="sub-header">Arquivos Encontrados</h2>
        <div class="table-responsive">
          <table class="table table-striped tabledash">
              <thead>
                <tr>
                  <th class="col-xs-1 col-md-1 text-center">
                    <h4>
                    <a data-ng-click="sortBy='contrato'; reverse=!reverse" role="button">
                    Campo 1 
                    </a><a data-ng-show="sortBy=='contrato'" data-ng-click="sortBy=''" class="glyphicon glyphicon-remove"></a>
                    </h4>					
                  </th>					
                  <th class="col-xs-2 col-md-2 text-center">
                    <h4>
                    <a data-ng-click="sortBy='vencimento'; reverse=!reverse" role="button">
                    Campo 2
                    </a><a data-ng-show="sortBy=='vencimento'" data-ng-click="sortBy=''" class="glyphicon glyphicon-remove"></a>
                    </h4>							
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="item in listViewEventos | filter: filter | orderBy: sortBy" class="clickpointer" data-toggle="modal" data-target="#eventoModal" data-ng-class="{active : isSelected(item), danger: (item.situacao === 'vencido'), warning: (item.situacao === 'avencer')}" data-ng-click="setMaster(item)">        
                  <td class="text-center	text-capitalize">				    
                      <h4><strong>Valor 1</strong></h4> 
                  </td>
                  <td class="text-center	text-capitalize"><h5>Valor 2</h5></td>                    
                </tr>
              </tbody>
          </table>
        </div>
    
       
        <h2 class="sub-header">Incluir Nova documentação</h2>
        <div class="row">     
          <div class="col-xs-12">          
              <div id="actions" class="row">                      
                  <div class="col-xs-12">                      
                      <button class="btn btn-primary" id="submit-all">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Enviar arquivos</span>
                      </button>
                      <button class="btn btn-warning" id="cancel-all">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancelar Todos</span>
                      </button>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12">                        
                      <span class="fileupload-process">
                        <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                          <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
                        </div>
                      </span>
                  </div>
              </div>
              <div class="well">   
                  <div class="dropzone" dropzone="dropzoneConfig" id="uploadSection">
                  
                    <div  class="dz-default dz-message">
                      <span> <img src="./img/gaveteirodigital.png" /> Arraste aqui os documentos!</span>                    
                    </div>
                    
                  </div>                  
              </div>        
          </div>
        </div>
    </div>
</div>
