  <ol class="breadcrumb">
      <li><a href="/">Imobcat</a></li>
      <li>Cadastro</li>
      <li><a href="/cadastro/eventos">Eventos</a></li>
      <li class="active">Formulário de Eventos</li>
  </ol>	<h1 class="sub-header">{{entidade}}</h1>
	
	<div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
	<div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Enviando&hellip;</div>
	
	<form name="myForm" novalidate class="form-horizontal" role="form">
	    <div class="row">
          <div class="col-xs-8 col-md-8">
              <!-- RELAÇÃO DO EVENTO -->
              <div class="form-group">
                    <div class="row">
                    <label for="tipo" class="col-xs-2 col-md-2 control-label">Relacionados</label>
                    <div class="col-xs-9 col-md-9">
                        <div class="row">
                          <div class="col-xs-6 col-md-6" role="group">
                            <div class="btn-group btn-group-justified">
                                <label data-ng-repeat="tprelac in tiposRelacao" class="btn btn-primary text-capitalize" data-ng-click="buscarRelacoes(tprelac)" ng-model="relacao.tiporelacao" btn-radio="'{{tprelac.value}}'" ><strong><i data-ng-show="relacao.tiporelacao===tprelac.value" class="fa fa-paw"></i>&nbsp;{{tprelac.text}}</strong></label>                    
                            </div>
                          </div>
                          <div class="col-xs-6 col-md-6 pull-right" role="group">                              
                              <div class="input-group" role="group">	
                                <input type="text" class="form-control" data-ng-model="relacao.relacionado" required="required" readonly />
                                <div class="input-group-btn" role="group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                      <span class="caret"></span>
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul id="relList" class="dropdown-menu" role="menu">
                                      <li data-ng-if="relacao.tiporelacao==='cliente'" data-ng-repeat="item in itemsList" data-ng-click="relacao.relacionado = item.cpf">{{item.cpf}}</li>
                                      <li data-ng-if="relacao.tiporelacao!=='cliente'" data-ng-repeat="item in itemsList" data-ng-click="relacao.relacionado = item.id">{{item.id}}</li>
                                      <li data-ng-if="relacao.tiporelacao!=='cliente'" data-ng-repeat="item in itemsList" data-ng-click="relacao.relacionado = item.id">{{item.id}}</li>
                                    </ul>
                                    <button data-ng-click="incluirRelacionado()" class="btn btn-primary" >
                                      <i class="fa fa-upload fa-fw fa-inverse"></i>&nbsp;Incluir
                                    </button>
                                </div>
                              </div>
                          </div>
                        </div>
                        <br/>
                        <div class="row">
                          <div class="col-xs-12 col-md-12"> 
                            <div class="panel panel-default">
                                <div class="panel-heading">Lista de Relacionados</div>
                                <div class="panel-body">
                                    <alert ng-repeat="rel in novoevento.relacionados" type="info" close="removeRelacao($index)">{{rel.tiporelacao}} : {{rel.relacionado}}</alert>                                      
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-md-1">
                        <span class="label label-danger" data-ng-show="submitted && myForm.novoevento.tprelac.$error.required">Obrigat&oacute;rio!</span>
                    </div>
                    </div>
              </div>
                
              <!-- TIPO DE EVENTO -->
              <div class="form-group">
                    <div class="row">
                    <label for="tipo" class="col-xs-2 col-md-2 control-label">Tipo de Evento</label>
                    <div class="col-xs-9 col-md-9">
                        <div class="btn-group btn-group-justified">                            
                            <label data-ng-repeat="tpevento in tiposEvento" class="btn btn-primary text-capitalize" ng-model="novoevento.tipo" btn-radio="'{{tpevento.value}}'"><strong><i data-ng-show="novoevento.tipo===tpevento.value" class="fa fa-paw"></i>&nbsp;{{tpevento.text}}</strong></label>                    
                        </div>
                    </div>
                    <div class="col-xs-1 col-md-1">
                        <span class="label label-danger" data-ng-show="submitted && myForm.novoevento.tpevento.$error.required">Obrigat&oacute;rio!</span>
                    </div>
                    </div>
              </div>
              
              <!-- SITUAÇÃO DO EVENTO 
              <div class="form-group">
                    <div class="row">
                    <label for="tipo" class="col-xs-2 col-md-2 control-label">Situa&ccedil;&atilde;o</label>
                    <div class="col-xs-9 col-md-9">
                        <div class="btn-group btn-group-justified" >
                            <label data-ng-repeat="tpsituac in tiposSituacao" class="btn btn-primary text-capitalize" ng-model="novoevento.situacao" btn-radio="'{{tpsituac.value}}'">{{tpsituac.text}}</label>                    
                        </div>
                    </div>
                    <div class="col-xs-1 col-md-1">
                        <span class="label label-danger" data-ng-show="submitted && myForm.novoevento.tpsituac.$error.required">Obrigat&oacute;rio!</span>
                    </div>
                    </div>
              </div>-->
              <!-- TITULO DO EVENTO -->
              <div class="form-group">
                <div class="row">
                <label for="nome" class="col-xs-2 col-md-2 control-label">T&iacute;tulo</label>	
                <div class="col-xs-9 col-md-9">			
                  <input type="text" id="titulo" name="titulo" data-ng-model="novoevento.titulo" class="form-control" required="required" placeholder="Titulo" />	
                </div>
                <div class="col-xs-1 col-md-1">
                  <span class="label label-danger" data-ng-show="submitted && myForm.novoevento.titulo.$error.required">Obrigat&oacute;rio!</span>
                </div>
                </div>
              </div>      
              
              <!-- DESCRICAO DO EVENTO -->
              <div class="form-group">
                <div class="row">
                  <label for="nome" class="col-xs-2 col-md-2 control-label">Descri&ccedil;&atilde;o</label>	
                  <div class="col-xs-9 col-md-9">
                    <textarea id="descricao" name="descricao" format data-ng-model="novoevento.descricao" class="form-control" required="required" placeholder="Descrição" rows="3"></textarea>
                  </div>
                  <div class="col-xs-1 col-md-1">
                    <span class="label label-danger" data-ng-show="submitted && myForm.novoevento.descricao.$error.required">Obrigat&oacute;rio!</span>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-xs-4 col-md-4">    
               <!-- DATA DE VENCIMENTO DO EVENTO -->
              <div class="form-group">                
                  <div><label for="nome" class="control-label">Data de Vencimento</label></div>                  
                  <div style="display:inline-block; min-height:290px;">
                       <datepicker ng-model="picker" show-weeks="false" class="well well-sm"></datepicker>                       
                  </div>
                  <span class="label label-danger" data-ng-show="submitted && myForm.novoevento.dataVencimento.$error.required">Obrigat&oacute;rio!</span>
              </div>
          </div>
      </div>   
      
      <!-- Documentação -->
      <div class="row">     
        <div class="col-xs-12">          
          <div class="panel panel-body panel-default">
            <legend>
                  <label for="documents" class="control-label">Documentação</label>                          
            </legend>
            <div>
                <div id="actions" class="row">                      
                    <div class="col-xs-12">                      
                        <button class="btn btn-primary" id="submit-all">
                              <i class="glyphicon glyphicon-upload"></i>
                              <span>Enviar arquivos</span>
                        </button>
                        <button class="btn btn-warning" id="cancel-all">
                              <i class="glyphicon glyphicon-ban-circle"></i>
                              <span>Cancelar Todos</span>
                        </button>
                    </div>
                    <br/>   
                    <div class="col-xs-12">                        
                        <span class="fileupload-process">
                          <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
                          </div>
                        </span>
                    </div>
                </div>
                
                <div class="dropzone" dropzone="dropzoneConfig" id="uploadSection">
                
                  <div  class="dz-default dz-message">
                    <span> <img src="./img/gaveteirodigital.png" /> Arraste aqui os documentos!</span>                    
                  </div>
                  
                </div>
                    
                <!--<div class="table table-striped" class="files" dropzone="dropzoneConfig" id="previews">
                    <div id="template" class="file-row">
                      <div class="col-xs-3">
                          <span class="preview"><img data-dz-thumbnail /></span>
                      </div>
                      <div class="col-xs-3">
                          <p class="name" data-dz-name></p>
                          <strong class="error text-danger" data-dz-errormessage></strong>
                      </div>
                      <div class="col-xs-6">
                          <p><span class="size" data-dz-size></span><span class="size" data-dz-uploadprogress></span></p>                        
                          <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                          </div>
                      </div>
                      <div>
                        <button class="btn btn-primary start">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start</span>
                        </button>                      
                        <button data-dz-remove class="btn btn-warning cancel">
                          <i class="glyphicon glyphicon-ban-circle"></i>
                          <span>Cancel</span>
                        </button>
                        <button data-dz-remove class="btn btn-danger delete">
                          <i class="glyphicon glyphicon-trash"></i>
                          <span>Delete</span>
                        </button>
                      </div>
                    </div>                         
                </div>  -->            
            </div>
          </div>
        </div>
      </div>
      
      <div class="form-group">
            <div class="row">
            <div class="col-xs-offset-2 col-md-offset-2 col-xs-10 col-md-8">			
              <button data-ng-disabled="progress.active()" data-ng-click="submit(myForm)" class="btn btn-success btn-lg col-xs-offset-2 col-md-offset-2 col-xs-3 col-md-3" ><i class="fa fa-upload fa-fw fa-inverse"></i>&nbsp;Finalizar</button>
              <a class="btn btn-danger btn-lg col-xs-offset-3 col-md-offset-3 col-xs-3 col-md-3" href="/cadastro/eventos"><i class="fa fa-times fa-fw fa-inverse"></i>&nbsp;Cancelar</a>
            </div>
            </div>
      </div>
	
	</form>
