<div class="container-fluid">
    <div class="row">        
          <div class="main">
              <h1 class="page-header">Dashboard</h1>
    
              <h2 class="sub-header">Contratos </h2>
              
              <!--<div id="preview-template" style="display: none;">
                  <div class="dz-preview dz-file-preview">
                    <div class="dz-details">
                      <div class="dz-filename"><span data-dz-name></span></div>
                      <div class="dz-size" data-dz-size></div>
                      <img data-dz-thumbnail />
                    </div>
                    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                    <div class="dz-success-mark"><span>✔</span></div>
                    <div class="dz-error-mark"><span>✘</span></div>
                    <div class="dz-error-message"><span data-dz-errormessage></span></div>
                  </div>                              
              </div>-->                      
                           
              
              
              <div class="container-fluid">
                  <div class="dashboard col-xs-12 col-sm-4 col-md-3 col-lg-2">
                        <div ng-repeat="contrato in listViewContratos | filter: filter | orderBy: sortBy" >
                            <button class="square imgdash"  data-toggle="modal" data-target="#contratoModal" data-ng-click="setMaster(item)">
                                <div class="contentdash">                                     
                                      <span class="badge alert-info squaretitle">Situa&ccedil;&atilde;o: {{contrato.situacao}}</span>                                                                                    
                                      <i class="fa fa-home icon"></i>
                                      <p>Imóvel: {{contrato.imovel.id}}</p>
                                      <p>{{contrato.imovel.proprietarios[0].nome}}</p>                                      
                                </div>
                            </button>
                        </div>
                  </div>
              </div>
          </div>	  
          <h2 class="sub-header">Pr&oacute;ximas Atividades</h2>
          <div class="table-responsive">
            <table class="table table-striped tabledash">
                <thead>
                  <tr>
                    <th class="col-xs-1 col-md-1 text-center">
                      <h4>
                      <a data-ng-click="sortBy='contrato'; reverse=!reverse" role="button">
                      Contrato 
                      </a><a data-ng-show="sortBy=='contrato'" data-ng-click="sortBy=''" class="glyphicon glyphicon-remove"></a>
                      </h4>					
                    </th>				
                    <th class="col-xs-1 col-md-1 text-center">
                      <h4>
                      <a data-ng-click="sortBy='tipo'; reverse=!reverse" role="button">
                      Tipo
                      </a><a data-ng-show="sortBy=='tipo'" data-ng-click="sortBy=''" class="glyphicon glyphicon-remove"></a>
                      </h4>					
                    </th>				
                    <th class="col-xs-5 col-md-5 text-center">
                      <h4>
                      <a data-ng-click="sortBy='acao'; reverse=!reverse" role="button">
                      A&ccedil;&atilde;o 
                      </a><a data-ng-show="sortBy=='acao'" data-ng-click="sortBy=''" class="glyphicon glyphicon-remove"></a>
                      </h4>					
                    </th>				
                    <th class="col-xs-1 col-md-1 text-center">
                      <h4>
                      <a data-ng-click="sortBy='status'; reverse=!reverse" role="button">
                      Status 
                      </a><a data-ng-show="sortBy=='status'" data-ng-click="sortBy=''" class="glyphicon glyphicon-remove"></a>
                      </h4>					
                    </th>				
                    <th class="col-xs-2 col-md-2 text-center">
                      <h4>
                      <a data-ng-click="sortBy='vencimento'; reverse=!reverse" role="button">
                      Vencimento
                      </a><a data-ng-show="sortBy=='vencimento'" data-ng-click="sortBy=''" class="glyphicon glyphicon-remove"></a>
                      </h4>							
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="item in listViewEventos | filter: filter | orderBy: sortBy" class="clickpointer" data-toggle="modal" data-target="#eventoModal" data-ng-class="{active : isSelected(item), danger: (item.situacao === 'vencido'), warning: (item.situacao === 'avencer')}" data-ng-click="setMaster(item)">        
                    <td class="text-center	text-capitalize">				    
                        <h4><strong>{{item.relacionados[0].tiporelacao}}</strong></h4> 
                        <h5>{{item.relacionados[0].relacionado}}</h5>
                    </td>
                    <td class="text-center	text-capitalize"><h5>{{item.tipo}}</h5></td>
                    <td class="text-center	text-capitalize"><h5>{{item.titulo}}</h5></td>				
                    <td class="text-center	text-capitalize"><h5>{{item.situacao}}</h5></td>
                    <td class="text-center"><h5>{{item.dataVencimento }}</h5></td>
                  </tr>
                </tbody>
            </table>
          </div>
    </div>    
</div>


<div class="modal" id="eventoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title-success text-capitalize" id="myModalLabel"><span class="label label-success">{{selected.id}}</span> {{selected.tipo}}</h4>          
      </div>
      <div class="modal-body">
      	<div class="container-fluid">
          <div class="well">			
              <div>
                <span class="label label-default">A&ccedil;&atilde;o</span>
                <br>
                <label> {{selected.titulo}}</label>
              </div>
          </div>
      	  <div class="well">
      	    <div class="row">
                <div class="col-xs-6 col-md-6">
                    <span class="label label-default"><strong>Data de Cria&ccedil;&atilde;o</strong></span>
                    <br>
                    <p class="bg-default"><label>{{selected.dataInicio}}</label></p>
                </div>
                <div class="col-xs-6 col-md-6">
                    <span class="label label-danger" data-ng-if="selected.situacao === 'vencido'"><strong>Data de Vencimento</strong></span>
                    <span class="label label-warning" data-ng-if="selected.situacao === 'avencer'"><strong>Data de Vencimento</strong></span>                
                    <span class="label label-default" data-ng-if="selected.situacao === 'ativo'"><strong>Data de Vencimento</strong></span>
                    <br>
                    <p class="bg-default"><label>{{selected.dataVencimento}}</label></p>
                </div>
            </div>            
            <div>
                <span class="label label-default"><strong>Situa&ccedil;&atilde;o</strong></span>
                <br>
                <p class="bg-default"><label>{{selected.situacao}}</label></p>
            </div>
          </div>          
          <div class="well">			
              <div>
                <span class="label label-default">Descri&ccedil;&atilde;o detalhada</span>
                <br>
                <p class="bg-default"><label>{{selected.descricao}}</label></p>
              </div>
          </div>          
          <div class="well">
            <div>
                <span class="label label-default">Relacionados</span>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-default" data-ng-repeat="rel in selected.relacionados">                    
                      <p class="bg-default"><label><span class="badge">{{$index+1}}</span> {{rel.tiporelacao}}: {{rel.relacionado}}</label></p>
                  </li>
                </ul>
            </div>
          </div>		
        </div>
      </div>      
    </div>
  </div>
</div>


<div class="modal" id="contratoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title-success" id="myModalLabel"><span class="label label-success label-lg">{{selected.id}} - {{selected.situacao}}</span></h4>
      </div>
      <div class="modal-body">
      	<div class="container-fluid">
      	  <div class="well">			
                <div>
                  <span class="label label-info">Informa&ccedil;&otilde;es B&aacute;sicas</span>
                  <br/>
                  <ul>
                    <li>Tipo de ccontrato: {{selected.tipoContrato}}</li>
                    <li>Vig&ecirc;ncia: {{selected.dataInicio}} - {{selected.dataVencimento}}</li>
                    <li>&Uacute;ltima Altera&ccedil;&atilde;o: {{selected.updated}}</li>
                  </ul>
                </div>               
          </div>      	
      	  <div class="well">			
                <div>
                  <span class="label label-info">Im&oacute;vel</span>
                  <br>
                  <ul class="list-inline">
                    <li>{{selected.imovel}}</li>
                  </ul>
                </div>               
          </div>
      		<div class="well">			
                <div>
                  <span class="label label-info">Locadores</span>
                  <br>
                  <ul class="list-inline">
                    <li data-ng-repeat="locad in selected.locadores">{{locad.tipo}}<span class="badge">{{locad.cpf}}</span></li>
                  </ul>
                </div>               
          </div>		
          <div class="well">          
                <div>
                  <span class="label label-info">Locat&aacute;rios</span>
                  <br>
                  <ul class="list-inline">
                    <li data-ng-repeat="locat in selected.lacatarios">{{locat.tipo}}<span class="badge">{{locat.cpf}}</span></li>
                  </ul>
                </div>
          </div>
		
          <div class="well">
                <div>
                  <span class="label label-info">Fiadores</span>
                  <br>
                  <ul class="list-inline">
                    <li data-ng-repeat="fiador in selected.fiadores">{{fiador.tipo}}<span class="badge">{{fiador.cpf}}</span></li>
                  </ul>
                </div>
          </div>		
          <div class="row">
              <div class="well col-md-12">
                <span class="label label-info col-md-2">Documentos</span>
                <div class="btn-group" data-ng-class="{open: open}">
                  <button class="btn">Filtrar: </button>
                  <button class="btn dropdown-toggle" data-ng-click="open=!open"><span class="caret"></span>
                  
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                      <li><a data-ng-click="checkAll()"><i class="fa fa-check-circle"></i>  Selecionar Todos</a>
                  
                      </li>
                      <li><a data-ng-click="formatosSelecionados=[];"><i class="fa fa-times-circle"></i>  Remover Todos</a>
                  
                      </li>
                      <li class="divider"></li>
                      <li data-ng-repeat="tipoDoc in tipoDocList" data-ng-init="checkAll()" >				    	
                    <a data-ng-click="setSelectedDocTypes()" >{{tipoDoc.tipo}}<i data-ng-class="isChecked(tipoDoc.tipo)"></i>
                    </a>	
                      </li>
                  </ul>
                </div>		
                <table class="table table-hover table-striped">
                <thead>
                    <tr>
                  <th class=".col-md-1 .col-lg-1">#</th>
                  <th class=".col-sm-2 .col-md-1 .col-lg-1">Tipo</th>
                  <th class=".col-xs-10 .col-sm-8 .col-md-3 .col-lg-3">Nome</th>
                  <th class=".col-md-6 .col-lg-6">Descri&ccedil;&atilde;o</th>
                  <th class=".col-xs-2 .col-sm-2 .col-md-1 .col-lg-1">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="documento in filtered = (selected.documentos | docFilter:formatosSelecionados)">
                  <td>{{documento.id}}</td>
                  <td><em>{{documento.tipo}}</em></td>
                  <td><em>{{documento.nome}}</em></td>
                  <td>{{documento.descricao}}</td>
                  <td><a href="{{documento.link}}"><i class="fa fa-file-o fa-2x"></i> </a></td>
                    </tr>
                </tbody>
                </table>		 
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">		
      </div>
    </div>
  </div>
</div>
